.buttonPrimary {
    font-family: var(--font-stack-heading);
  padding: var(--spacing-unit-1) var(--spacing-unit-2);
  font-size: var(--font-size-14);
  background: var(--accent-primary);
  color: var(--background-primary);
  border: none;
  border-radius: var(--border-radius);
  font-weight: 400;
  cursor: pointer;
}

.buttonPrimary:hover {
  background: var(--accent-primary-hover);
}

.buttonSecondary {
  padding: var(--spacing-unit-1) var(--spacing-unit-2);
  font-size: var(--font-size-14);
  background: var(--background-surface);
  color: var(--text-secondary);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.buttonSecondary:hover {
  background: var(--background-surface-hover);
}

.buttonLink {
  color: var(--accent-secondary);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.buttonLink:hover {
  color: var(--text-primary);
}

.buttonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textLink {
  text-decoration: underline;
}

.infoLink {
  border-bottom: 1px dashed var(--text-muted);
}

.buttonDelete {
    font-size: var(--font-size-14);
    color: var(--em-error);
    background: none;
    cursor: pointer;
}

.deleteButton:hover {
    background: var(--em-error);
    color: var(--text-primary);
}
