.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-unit-3);
}

.time {
  font-family: var(--font-stack-heading);
  font-size: var(--font-size-22);
  color: var(--text-primary);
  font-weight: bold;
}

.button {
  padding: var(--spacing-unit-1) var(--spacing-unit-3);
  font-size: var(--font-size-14);
  background-color: var(--green-dark);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  opacity: 0.8;
}
