.metaRow {
  display: flex;
  align-items: center;
  font-family: var(--font-stack-mono);
  font-size: var(--font-size-15);
  color: var(--text-secondary);
}

.metaRowDivider {
  margin: 0 var(--spacing-unit-2);
  color: var(--em-text-tertiary);
}

.summaryActions {
  padding: var(--spacing-unit-5) 0;
}
